
html, body {
    color: white;
    background-color: #21232A;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    padding: 30px;
}

button {
    cursor: pointer;
    font-size: 1rem;
    padding: 5px;
    margin: 10px;
}